@media screen and (min-width: 768px) {

    body {
        background-color: #fcfaf8;
    }

    .h-margin {
    margin: 0 5vw;
}

    nav {
        top: 6.5vh;
        padding: 0 5vw;
    }

    nav a {
        color: #151515;
        text-decoration: none;
    }

    
    /* Loading Screen */
    #splash-loader .animation-text {
        top: 6.4vw;
    }

    .splash-main-text {
        font-size: 4rem;
    }




    /* Hero section for desktop */
    #hero {
        padding: 24vh 0 0;
        /* margin: 0 5vw; */
    }

    .title-row {
        display: flex;
        color: #383838;
        width: inherit;
    }

    .title-row .hero-title {
        font-size: calc(12.10938vw + 15px);
        font-weight: normal;
        letter-spacing: -4px;
    }

    .h-o-desktop {
        display: flex;
    }

    .title-row .right-info {
        display: flex;
        padding-left: calc(9.32813vw - 35px);
        padding-top: 3.18%;
    }

    
    .freelance-info .info-text {
        display: block;
    }

    .freelance-info .info-text .info-text-design {
        display: inline-block;
    }

    .freelance-info .info-text-l {
        display: block;
    }

    .right-info .local-time .local > span {
        height: inherit;
        /* display: inline; */
    }

    .title-row {
        overflow: visible;
    }

    .title-row:nth-child(2) {
        justify-content: flex-end;
        align-items: center;
    }

    .col {
        flex-direction: row;
    }

    .title-row .title-svg {
        width: 50%;
        align-items: flex-end;
        justify-content: space-between;
        transform: translateY(10%);
    }

    .title-svg img {
        width: 4vw;
    }

    .title-svg svg {
        width: calc(22.46094vw + 37.5px);
    }



    /* About section */

    #about {
        margin-bottom: 8vh;
        margin-top: 9vh;
    }

    #about .about-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
        color: #414141;
    }

    .about-content .about-me-text {
        font-size: calc(1.17188vw + 18px);
    }

    .about-card-container {
        flex-basis: 50%;
        height: 46vw;
        width: 100%;
        transform: translate(-15%,30%);
    }

    .about-card {
        width: 70%;
    }


    /* Work Section */
    #work {
        background-color: #F2F2F2;
        color: #383838;
        padding: 40vh 5vw;
    }

    .work-container > svg {
        stroke: #a2a2a2;
        width: inherit;
    }

    .work-container .work-services {
        margin-left: 10vw;
    }

    .work-services .service-content {
        font-size: 20px;
    }

    #work .sep-hr {
        margin: 20vh 0 20vh 15%;
        width: inherit;
    }

    .work-title {
        margin-left: 13%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .work-title  > div {
        margin-left: 2vw;
    }

    .work-title h2 {
        font-size: calc(3.90625vw + 60px);
        display: flex;
        gap: 1vw;
        line-height: normal;
    }

    .work-title > svg {
        stroke: #a2a2a2;
        transform: rotate(90deg);
    }

    .work-projs .projs-row {
        flex-direction: row;
        gap: 10vh;
        margin-bottom: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .projs-row .projs-card {
        border-radius: 50px;
    }

    .projs-row .projs-card:nth-child(1) {
        width: 55%;
    }

    .projs-row .projs-card:nth-child(2) {
        width: 33%;
    }

    .projs-row:nth-child(1) .projs-card:nth-child(2) {
        transform: translate(-20%);
    }

    .projs-row:nth-child(2) {
        width: 80%;
        transform: translate(30%);
    }

    .projs-row:nth-child(3) .projs-card:nth-child(1) {
        width: 33%;
    }

    .projs-row:nth-child(3) .projs-card:nth-child(2) {
        width: 55%;
    }

    .projs-row:nth-child(3) .projs-card:nth-child(1) {
        transform: translateY(30%);
    }

    .projs-card img {
        object-fit: cover;
        scale: 1.3;
    }





    /* Important classes for mobile and desktop */

    .o-mobile {
        display: none;
    }

    .o-desktop {
        display: block;
    }

}


@media screen and (min-width: 1024px) {
    
    .right-info .freelance-info {
        margin-right: 10vw;
    }

    .title-row .right-info {
        padding-left: calc(11.32813vw - 35px);
    }
    
}