@media screen and (min-width: 768px) {

    body {
        background-color: #fcfaf8;
    }

    .o-mobile {
        display: none;
    }

    .o-desktop {
        display: block;
    }

    nav {
        top: 6.5vh;
        padding: 0 5vw;
    }

    nav a {
        color: #151515;
        text-decoration: none;
    }

    

    #splash-loader .animation-text {
        top: 6.4vw;
    }

    .splash-main-text {
        font-size: 4rem;
    }


    /* Hero section for desktop */
    #hero {
        padding: 24vh 0 0;
        margin: 0 5vw;
    }

    .title-row {
        display: flex;
        color: #383838;
    }

    .title-row .hero-title {
        font-size: calc(12.10938vw + 15px);
        font-weight: normal;
        letter-spacing: -4px;
    }

    .h-o-desktop {
        display: flex;
    }

    .title-row .right-info {
        display: flex;
        padding-left: calc(11.32813vw - 35px);
        padding-top: 3.18%;
        white-space: nowrap;
        color: #a2a2a2;
        font-size: 12px;
        text-transform: uppercase;
    }

    .right-info .freelance-info {
        margin-right: 10vw;
        font-family: "Gilroy-Medium";
    }
    .freelance-info .info-text {
        display: block;
    }

    .right-info .local-time {
        font-family: "Gilroy-Medium";
    }

    .freelance-info .info-text .info-text-design {
        display: inline-block;
    }

    .freelance-info .info-text-l {
        display: block;
    }

    .right-info .local-time .local > span {
        height: inherit;
        /* display: inline; */
    }

    .title-row:nth-child(2) {
        justify-content: flex-end;
        align-items: center;
    }

    .col {
        flex-direction: row;
    }

    .title-row .title-svg {
        width: 50%;
        align-items: flex-end;
        justify-content: space-between;
        transform: translateY(10%);
    }

    .title-svg img {
        width: 4vw;
    }

    .title-svg svg {
        width: calc(22.46094vw + 37.5px);
    }

}
