@font-face {
    font-family: Gilroy-Medium;
    src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url(../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: Mazius;
    src: url(../fonts/Mazius.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

body {
    background-color: #151515;
    font-family: "";
}

.o-mobile {
    display: block;
}

.h-margin {
    margin: 0 7vw;
}


/* Navbar style */

nav {
    position: fixed;
    top: 5vh;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 0 7vw;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #fff;
    font-family: Gilroy-Medium;
    font-size: 12px;
    text-transform: uppercase;
    /* text-decoration: none; */
    letter-spacing: 0px;
}

.o-desktop {
    display: none;
}

.line-parent {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.line-parent .line-child {
    display: block;
    width: 100%;
    height: 100%;
}


/* Loader style */

#splash-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}

#splash-loader .animation-text {
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animation-text .top-text {
    font-family: Gilroy-SemiBold;
    font-size: .7rem;
    letter-spacing: 1px;
}


#splash-loader .splash-loader-bg {
    background: #161616;
    position: absolute;
    width: 100%;
    height: 100%;
}

#splash-loader .splash-loader-bg:nth-child(2) {
    z-index: 3;
}

#splash-loader .splash-loader-bg:nth-child(3) {
    background-color: #14cf93;
    z-index: 1;
    transition-delay: .8;
}

.splash-main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 6vw;
    white-space: nowrap;
    font-family: Gilroy-Medium;
}

.splash-main-text .special {
    color: #14cf93;
    font-family: Mazius;
}

.splash-main-text span:nth-child(3), 
.splash-main-text span:nth-child(4) {
    display: inline-block;
}


/* Hero Section */

#hero {
        padding: 16vh 0 22vh;
    }

    .title-row {
        display: flex;
        color: #fff;
        overflow: hidden;
    }

    .hero-content .title-row:nth-child(3) {
        margin-top: 6.5vh;
    }

    .title-row .hero-title {
        font-size: 78px;
        font-family: "Gilroy-Medium";
        font-weight: normal;
        letter-spacing: -4px;
        line-height: 100%;
    }



    .title-row .right-info {
        display: flex;
        padding-left: calc(9.32813vw - 35px);
        padding-top: 3.9%;
        white-space: nowrap;
        color: #a2a2a2;
        font-size: 12px;
        text-transform: uppercase;
    }

    .title-row > .h-o-desktop {
        display: none;
    }

 
    .freelance-info .info-text {
        display: block;
    }

    .freelance-info .info-text .info-text-design {
        display: inline-block;
        font-family: 'Mazius';
    }

    .right-info .freelance-info {
        margin-right: 5vw;
        font-family: "Gilroy-Medium";
    }

    .right-info .local-time {
        font-family: "Gilroy-Medium";
    }

    .right-info .local-time .local > span {
        height: inherit;
        /* display: inline; */
    }

    .title-svg {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .title-svg .des-line {
        width: 15vw;
        height: 6px;
        background-color: #14cf93;
        margin: 2px 3vw 0 0;
        transform-origin: left;
    }

    .title-svg svg {
        width: 210px;
        margin: 4px 0;
    }

    .title-row #Visual path, .title-row #Visual polyline {
        stroke: #14cf93;
    }

    .o-mobile .right-info {
        padding-left: 0;
    }



    /* About Section */
    #about {
        margin-bottom: 20vh;
    }
    
    #about .about-content {
        color: #fff;
        font-family: "Gilroy-Medium";
        text-transform: uppercase;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-direction: column-reverse;
    }

    .about-content > div:nth-child(1) {
        margin-top: 20vh;
    }

    .about-content .about-me-h {
        font-size: 12px;
        color: #a2a2a2;
        margin-bottom: 3vh;
    }

    .about-content .about-me-text {
        font-size: 31px;
        line-height: 95%;
        margin-bottom: 3vh;

    }

    .about-me-text .style {
        color: #14cf93;
        text-transform: capitalize;
        font-family: "Mazius";
    }

    .about-card-container {
        width: 100%;
        /* flex-basis: 50%; */
        height: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-card {
        text-align: center;
        width: 80%;
        height: 100%;
        position: absolute;
        border-radius: 30px;
        overflow: hidden;
    }

    .about-card img {
        width: 100%;
        filter: saturate(0);
        transition: .4s;
    }

    .about-card:hover img {
        filter: saturate(1);
    }

    .about-card-container .about-card:nth-child(1) {
        top: -15%;
        left: 0;
        transform: translate3d(0px, -3.9026%, 0px) rotate(-6.0001deg);
    }

    .about-card-container .about-card:nth-child(2) {
        top: 0;
        /* left: 0; */
        transform: translate3d(0px, -3.9026%, 0px) rotate(0deg);
    }

    .about-card-container .about-card:nth-child(3) {
        bottom: -15%;
        right: 0;
        transform: translate3d(0px, -3.9026%, 0px) rotate(6.0001deg);
    }

    #about > a {
        /* text-decoration: none; */
        color: #fff;
    }

    .about-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10vh;
        gap: 2vw;
    }

    .about-contact .about-contact-icon {
        width: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        /* margin-right: 3vw; */
        background-color: #fff;
        padding: 15px 25px;

    } .about-contact-icon > i {
        color: #000;
        font-size: 16px;
    }

    .about-contact-text {
        font-size: 12px;
        color: #fff;
        font-family: "Gilroy-Medium";
        text-transform: uppercase;
    }


    /* Work Section */
    #work {
        padding: 20vh 7vw;
        background-color: #282828;
        color: #fff;
    }

    .work-container {
        display: flex;
        /* flex-direction: column; */
        /* align-items: center;
        justify-content: center; */
    }

    .work-container > svg {
        stroke: #a2a2a2;
        transform: translateY(-110%);
        width: 14%;
    }

    .work-container .work-services {
        text-transform: uppercase;
        font-family: "Gilroy-Medium";
        width: 85%;
    }

    .work-services .work-h-ser {
        margin-top: 10px;
        margin-bottom: 3vh;
    }

    .work-services .work-h-ser span {
        color: #a2a2a2;
        font-size: 12px;
        text-transform: uppercase;
    }

    .work-h-ser .design {
        font-family: "Mazius";
    }

    .work-services .service-content {
        font-size: 22px;
    }

    #work .sep-hr {
        width: 100%;
        height: 1px;
        background-color: rgba(150,148,148,.4);
        margin: 12vh 0;
        transform: scaleX(1);
        transition: 1.5s cubic-bezier(0,.89,.41,1);
        transition-delay: .2s;
        transform-origin: left;
    }

    #work .work-title {
        font-size: 48px;
        font-family: "Gilroy-Medium";
        font-weight: normal;
        line-height: 140%;
        margin-bottom: 10vh;
    }

    .work-title h2 span:nth-child(2) {
        text-align: right;
    }

    .work-title .des {
        color: #14cf93;
        font-family: "Mazius";
    }

    .work-title svg {
        width: 14vw;
        stroke: #a2a2a2;
        transform: translate(5vw,2vw) rotate(45deg);
    }

    .work-projs .projs-row {
        display: flex;
        justify-content: space-between;
        /* margin-bottom: 10vh; */
        flex-direction: column;
        /* gap: 7vh; */
    }

    .work-projs .projs-card {
        margin-bottom: 7vh;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 30px;
        cursor: pointer;
    }

    .work-projs .projs-card:hover .year,
    .work-projs .projs-card:hover .role {
        opacity: 1;
        transform: translateY(0);
    }

    .work-projs .projs-card:hover img {
        filter: saturate(0);
    }

    .projs-card .overlay-info {
        z-index: 1;
        position: absolute;
        left: 2vh;
        bottom: 2vh;
        font-family: "Gilroy-Medium";
    }

    .overlay-info .year {
        padding: 1vh 2vh;
        width: fit-content;
        border-radius: 30px;
        margin-bottom: 1vh;
        font-size: 10px;
        opacity: 0;
        transition: .4s;
        transform: translateY(-100%);
    }

    .overlay-info .role {
        padding: 1vh 2vh;
        width: fit-content;
        border-radius: 30px;
        margin-bottom: 1vh;
        font-size: 10px;
        opacity: 0;
        transition: .4s;
        transition-delay: .1s;
        transform: translateY(-100%);
    }

    .overlay-info .p-name {
        display: flex;
    }

    .p-name .name {
        padding: 1.5vh 3vh;
        width: fit-content;
        font-size: 22px;
        margin-right: 1vh;
        border-radius: 30px;
    }

    .p-name .arrow {
        border-radius: 50%;
        padding: 1vh 1.8vh;
    }

    .p-name .arrow svg {
        stroke: #000;
        width: 22px;
    }

    .projs-card img {
        width: 100%;
        transition: .4s;
        object-fit: cover;
        filter: saturate(1);
        transform: scale(1.1);
        aspect-ratio: 1/1;
        scale: 1.3;
    }








    .col {
        flex-direction: column;
    }

    .bg-white {
        background-color: #fff;
        color: #000;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    


    /* Screen size more then 320px */

@media screen and (min-width: 320px) {
    
    .title-row .hero-title {
        font-size: calc(11.60714vw + 40.85714px);
    }

    .title-svg svg {
        width: calc(-17.85714vw + 267.14286px);
    }
        
}