@font-face {
    font-family: Gilroy-Medium;
    src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url(../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: Mazius;
    src: url(../fonts/Mazius.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #151515;
}

.o-mobile {
    display: block;
}

nav {
    position: fixed;
    top: 5vh;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 0 7vw;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #fff;
    font-family: Gilroy-Medium;
    font-size: 12px;
    text-transform: uppercase;
    /* text-decoration: none; */
    letter-spacing: 0px;
}

.o-desktop {
    display: none;
}

.line-parent {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.line-parent .line-child {
    display: block;
    width: 100%;
    height: 100%;
}

#splash-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}

#splash-loader .animation-text {
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animation-text .top-text {
    font-family: Gilroy-SemiBold;
    font-size: .7rem;
    letter-spacing: 1px;
}


#splash-loader .splash-loader-bg {
    background: #161616;
    position: absolute;
    width: 100%;
    height: 100%;
}

#splash-loader .splash-loader-bg:nth-child(2) {
    z-index: 3;
}

#splash-loader .splash-loader-bg:nth-child(3) {
    background-color: #14cf93;
    z-index: 1;
    transition-delay: .8;
}

.splash-main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 6vw;
    white-space: nowrap;
    font-family: Gilroy-Medium;
}

.splash-main-text .special {
    color: #14cf93;
    font-family: Mazius;
}

.splash-main-text span:nth-child(3), 
.splash-main-text span:nth-child(4) {
    display: inline-block;
}


/* Hero Section */

#hero {
        padding: 16vh 0 22vh;
        margin: 0 7vw;
    }

    .title-row {
        display: flex;
        color: #fff;
    }

    .title-row .hero-title {
        font-size: 78px;
        font-family: "Gilroy-Medium";
        font-weight: normal;
        letter-spacing: -4px;
        line-height: 100%;
    }



    .title-row .right-info {
        display: flex;
        padding-left: calc(11.32813vw - 35px);
        padding-top: 3.9%;
        white-space: nowrap;
        color: #a2a2a2;
        font-size: 12px;
        text-transform: uppercase;
    }

    .title-row > .h-o-desktop {
        display: none;
    }

    .right-info .freelance-info {
        margin-right: 10vw;
    }
    .freelance-info .info-text {
        display: block;
    }

    .freelance-info .info-text .info-text-design {
        display: inline-block;
        font-family: 'Mazius';
    }

    .right-info .local-time .local > span {
        height: inherit;
        /* display: inline; */
    }

    .title-svg {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .title-svg .des-line {
        width: 15vw;
        height: 6px;
        background-color: #14cf93;
        margin: 2px 3vw 0 0;
        transform-origin: left;
    }

    .title-svg svg {
        width: 210px;
        margin: 4px 0;
    }

    .title-row #Visual path, .title-row #Visual polyline {
        stroke: #14cf93;
    }

    .col {
        flex-direction: column;
    }
    


    /* Screen size more then 320px */

@media screen and (min-width: 320px) {
    
    .title-row .hero-title {
        font-size: calc(11.60714vw + 40.85714px);
    }

    .title-svg svg {
        width: calc(-17.85714vw + 267.14286px);
    }
        
}